.bubble-container {
  display: flex;
  width: 100%;
}

.msg-user{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; 
}

.user-tag-container-other{
  margin-bottom: .5rem;
  margin-left:1rem;
  margin-right: auto;
}

.self-tag{
  margin-right: 1rem;
  margin-left: auto;
  margin-bottom: .5rem;
  text-align:right;
}

.bubble {
  font-size: 1.3rem;
  padding: 1rem 1.4rem;
  border-radius: .9rem;
  width: auto;
  max-width: 300px;
  overflow:hidden;
}

.incoming {
  color: white;
  background-color: #000080;
  margin-left:1rem;
  margin-right: auto;
}

.self {
  color: black;
  background-color: #add8e6;
  margin-right: 1rem;
  margin-left: auto;
}

.bot {
  color: white;
  background-color: #800080;
  margin-right:auto;
  margin-left:1rem;
}
